
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Les vins </title>
    </head>
        
    <body>
	
        <h2> {{ vin.nom }} </h2>
                    <h4>millesime</h4>  <p> {{ vin.millesime }} </p>
                        
                    <h4>Composition </h4>

                    {% for assemblage in assemblages %} 
                        <p> {{ assemblage.vin }} </p>
                        <p> {{ assemblage.cepage }}</p>
                        <p> {{ assemblage.pourcentage }}</p>
                        <p> {{ vin.millesime }}</p>
                    {% endfor %}
        <a href= "{{ path('vin') }}" > Retour à la liste </a>      
                               {{ dump() }}      
    </body>
</html>
{# empty Twig template #}
