
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Les vins </title>
    </head>
          
    <body>
	  
        <h2> {{ vin.nom }} </h2>
        <h4>details</h4>
                    <p>millesime  : {{ vin.millesime }} </p>
                    <p>Appelation : {{ vin.type }} </p>
                    
                        
                    <h4>Composition </h4>

                    {% for assemblage in assemblages %} 
                        
                        <p> {{ assemblage.cepage.nom }} : {{ assemblage.pourcentage }}</p>
                       
                    {% endfor %}
                    <h4>Accompagnement </h4>
                    
                    {% for plat in plats %} 
                       
                        <p> {{ plat.nom }}</p>
                        
                       
                    {% endfor %}
                    
        <a href= "{{ path('vin') }}" > Retour à la liste </a>      
         {{ dump() }}
                           
    </body>
</html>
{# empty Twig template #}
