<!DOCTYPE html>
<html>
<head><title>Site en construction</title></head>
<body>
    <h1>Base de documentaire du club d'œnologie</h1>
            
    <h2><a href="{{ path('cepage') }}" > Les cepages</a></h2>
    
    <h2><a href="{{ path('plat') }}" >Les plats </a></h2>
    
    <h2><a href="{{ path('terroir') }}" >Les terroirs</a></h2>
    
    <h2><a href="{{ path('producteur') }}" >Les producteurs </a></h2>
    
    <h2><a href="{{ path('vin') }}" >Les vins </a></h2>
    
    <h2><a href="{{ path('assemblage') }}" >Assemblages </a></h2>
    
</body>
</html>
