<html>
    <head>
        <meta charset="utf-8">
        <title> Les Cepages </title>
    </head>
        
    <body>
	
        <h2> {{ cepage.nom }} </h2>
                    <h3>Couleur</h3>  <p> {{ cepage.couleur }} </p>
                    <h3>Origine</h3>  <p> {{ cepage.origine }} </p>
                    <h3>Saveurs</h3>  <p> {{ cepage.saveur }} </p>  
                    
        <a href= "{{ path('cepage') }}" > Retour à la liste </a>      
                 
    </body>
</html>
{# empty Twig template #}
